 {% extends 'base.html' %} 

 {% block content %}

 <div class="row">
     <div class="col">
         <h2>Add Item</h2>
         <form action="addtodo" method="POST">
         {% csrf_token %}
         <input type="text" name="content" class="form-control" id="inputAddress" placeholder="" >
         <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
     </div>
 </div>

 
 <div class="row mt-4">
 <ul class="list-group mt-2">
     {% for todo_item in todo_items %}

     <li class="list-group-item">{{todo_item.text }}
     <div class="float-right">
         <form action="delete_todo/{{todo_item.id}}" action="POST">
         <button type="submit" class="btn btn-danger btn-sm ml-4">Delete</button>
         </form>
     </div>
    </li>
     {% endfor %}
     
    
  </ul>
</div>

 {% endblock content%}